@model E_TicketsCore.Models.Actor

@*
    ViewData["Title"] = "Details";
    Layout = "~/Views/_ViewStart.cshtml";
*@

<h1>Details</h1>

<div>
    <h4>Actor</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.ProfilePicture" alt="Profile Picture" class="img-thumbnail" style="width: 100px; height: auto;" />
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.News)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.News)
        </dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
